/* =============================================================================
   Begin
   ========================================================================== */
body {
  background-image:url(img/back.png);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin : 1em;
  background: none;
  color: black;
  right: 0;
  left: 0;
  padding: 0;
}

nav {
  display: inline;
}

nav a {
  display: inline;
  line-height: 3em;

  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
}


article {
  text-align: center;
}

h1 {
  color: white;
  margin : 0.5em;
  font-size: 3.5em;
  font-family: 'Indie Flower', cursive;
  font-weight: 300;
}

h2 {
  color: white;
  margin : 1em 0 0.5em 0;
  font-size: 2em;
  font-family: "Calibri", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
}

.nav-content {
  margin: 0 auto;
}

.content {
  padding-top: 10px;
}

.padding {
  padding: 1em 3em 0 0 ;
}

.right {
  float: right
}

.marging{
  margin : 0 30% 1em 30%;
}

.center {
  text-align: center
}

/* Facebook Button */

.buttons .facebook a {
  padding-left: 27.777777777778%;
}
.buttons .facebook a:hover {
  color: #3c5a98;
}
.buttons .facebook a:before {
  background-position: 0px 0px;
  left: 11.111111111111%;
}
.buttons .facebook:hover a:before {
  background-position: 0px -65px;
}

/* Twitter Button */

.buttons .twitter a {
  padding-left: 30%;
}
.buttons .twitter a:hover {
  color: #28aae1;
}
.buttons .twitter a:before {
  background-position: 0px -130px;
}
.buttons .twitter:hover a:before {
  background-position: 0px -195px;
}

.buttons {
  position: center;
}
.buttons li {
  display: inline-block;
  text-align: left;
}
.buttons a {
  display: block;
  margin: 0 3em 0 3em;
  font-size: 1em;
  padding: 5.5%;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 50%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(237,237,237,1) 100%); /* W3C */
}
.buttons a {
  -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
.buttons span {
  font-family: 'QuicksandBook', Arial, sans-serif;
  font-size: 0.6em;
  display: block;
  color: #999;
}
.buttons a:hover span {
  color: #333;
}
.buttons a:before {
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  background-image:url(../img/icon_sprite.png);
  z-index: 1;
  top: 50%;
  margin-top: -27px;
  left: 4%;
}








